rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 読み取りは全員OK
    match /songs/{doc} {
      allow read: if true;
      allow write: if true; // フロントでパスワード認証済み
    }
    match /playlists/{doc} {
      allow read: if true;
      allow write: if true;
    }
  }
}
